@page
@model WebApplication1.Pages.AnnounceModel
@{
	ViewData["Title"] = "Announce";
}

<style>
	#list {
		list-style-type: none;
		padding: 0;
		border: 1px solid #ddd;
		box-shadow: 10px 10px 5px gray;
	}

		#list li {
			padding: 8px 16px;
			border-bottom: 1px solid #ddd;
		}

			#list li:last-child {
				border-bottom: none
			}
	#link{
		color:black;
	}

    .button-52 {
        font-size: 16px;
        font-weight: 200;
        letter-spacing: 1px;
        padding: 13px 20px 13px;
        outline: 0;
        border: 1px solid black;
        cursor: pointer;
        position: relative;
        background-color: rgba(0, 0, 0, 0);
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        margin-bottom: 15px;
    }

        .button-52:after {
            content: "";
            background-color: #ffe54c;
            width: 100%;
            z-index: -1;
            position: absolute;
            height: 100%;
            top: 7px;
            left: 7px;
            transition: 0.2s;
        }

        .button-52:hover:after {
            top: 0px;
            left: 0px;
        }

    @@media (min-width: 768px) {
        .button-52 {
            padding: 13px 50px 13px;
        }
    }
    .post:hover{
        border:2px red;
        background-color: #F3F3F3;
    }
</style>

<h1>Annouence</h1>
<hr/>
<form method="post">
	<p>
		<button class="button-52" asp-page-handler="Add">+ New Announce</button>
	</p>
</form>
<ul id="list">
    @if (Model.dataTable != null)
    {
        for (int i = Model.dataTable.Rows.Count ; i > 0 ; i--)
        {
            <li class="post">
            <a id="link" href="/AnnouenceShow?id=@Model.dataTable.Rows[i-1][0]"><h3>@Model.dataTable.Rows[i-1][1].ToString()</h3></a>
            <p style="margin-left:2px;">@Model.dataTable.Rows[i-1][2].ToString().Substring(0,15) ...</p>
            <p style="margin-left:2px;">From  <strong><b>@Model.dataTable.Rows[i-1][4].ToString()</b></strong></p>
            </li>
            <li></li>
        }
    }
</ul>

