@page
@model WebApplication1.Pages.Login2Model
@{
}

<style>
    .header {
        display: inline-block;
        width: 70px;
    }

    button {
        width: 80px;
    }
</style>

<form method="post">
    <div>
        <span class="header">User ID:</span>
        <input asp-for="user_id" type="text" />
        <span asp-validation-for="user_id" style="color:red;"></span>
    </div>
    <div style="padding-top:10px;">
        <span class="header">Password:</span>
        <input asp-for="user_password" type="password" />
        <span asp-validation-for="user_password" style="color:red;"></span>
    </div>
    <div style="padding-top:10px;">
        <button asp-page-handler="Login">Login</button>
    </div>
</form>
<div>@Model.message</div>

@section scripts{
    <partial name="_ValidationScriptsPartial" />
}