@page
@model PrivacyModel
@{
    Layout = "_Layout2";
    ViewData["Title"] = "Privacy Policy";
}

<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<div class="right-content">
    <form id="contact-form" action="" method="post">
        <textarea name="message" id="message" placeholder="Your Message"></textarea>
        <button type="submit" id="form-submit" class="orange-button">Send Message Now</button>
    </form>
</div>
